*{
    margin:0;
    padding: 0;
}
/* body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
} */
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card{
    position: relative;
    min-width: 500px;
    height: 285px;
    background-color: #fff;
    margin: 30px 15px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 5px 200px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 600px;
}
.container .card .imgbox{
    position: relative;
    max-width: 260px;
    height: 260px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgbox img{
    width: 100%;
}
.container .card .textbox{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card .textbox p{
    text-align: left;
    line-height: 25px;
    margin-top: 10px;
    font-size: 15px;
    color: #555;
}
.container .card:hover .textbox{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.2s;
}