  .image {
    margin: auto;
    width: 40%;
    height: 40%;
    overflow: hidden;
    position: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .content {
    text-align: center;
    padding: 1rem;
  }